css
/* Target code blocks in a table with the 'no-margin-code' class */
.gvdot-example-table .highlight,
.gvdot-example-table .highlight-python,
.gvdot-example-table .highlight-graphviz {
    margin-bottom: 0 !important;
}

/* Optional: Also remove margin from any paragraphs inside the table cells */
.gvdot-example-table td p {
    margin-bottom: 0 !important;
}

.gvdot-example-table td,
.gvdot-example-table th {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.my-col-1-header th:first-child,
.my-col-1-header td:first-child {
    font-weight: bold;
    text-align: right;
}

.custom-box {
    padding: 15px;
    border: 1px solid #2980b9;
    background-color: #f0f7fb;
    border-radius: 1px;
    margin-bottom: 24px;
}
.custom-box p {
    margin-bottom: 0px;
}
